In [1]:
#importing libraries
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import pandas as pd

#load the data
sald= pd.read_csv(r"C:\Users\HP\Downloads\Salary Data.csv")

#view the data
sald.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [2]:
#checking the null values
sald.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [3]:
sald.dropna(inplace=True)

In [4]:
sald.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [7]:
#preprocessing data
from sklearn.preprocessing import LabelEncoder

In [9]:
le =  LabelEncoder()
sald['Gender']=le.fit_transform(sald['Gender'])
sald['Education Level']=le.fit_transform(sald['Education Level'])
sald['Job Title']=le.fit_transform(sald['Job Title'])
sald.head()

#male=1,femal=0
#0=batch,1=master,2=phd

    Age  Gender  Education Level  Job Title  Years of Experience    Salary
0  32.0       1                0        159                  5.0   90000.0
1  28.0       0                1         17                  3.0   65000.0
2  45.0       1                2        130                 15.0  150000.0
3  36.0       0                0        101                  7.0   60000.0
4  52.0       1                1         22                 20.0  200000.0

In [10]:
ind = sald[['Age','Gender','Education Level','Years of Experience']]
dep = sald['Salary']

In [11]:
#create a linear regression model
LR=LinearRegression()
#fit the model to the data
LR.fit(ind,dep)

LinearRegression()

In [12]:
age=float(input("enter the Age:"))
gen=int(input("enter 0 for femal, 1 for male:"))
el=int(input("enter 0-bachelors, 1-masters, 2-PHD:"))
exp=float(input("enter you experince in years:"))
S=LR.predict([[age,gen,el,exp]])
print("the predicted Salary will be",S[0])

enter the Age: 1
enter 0 for femal, 1 for male: 2
enter 0-bachelors, 1-masters, 2-PHD: 2
enter you experince in years: 3

the predicted Salary will be 11050.755222087013

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(